@import "../../App.scss";

.aboutusdiv{
    h1{
        text-align: center;
        font-size: 3em;
        font-family: $primary-font;
        font-weight: 200;
    }
    p{
        margin: 0 20%;
        line-height: 2;
    }
}

@media (max-width: 576px) {
    .aboutusdiv{
        h1{
            font-size: 2em;
        }
        p{
            margin:0 5%
        }
    }
}
