@import "../../App.scss";

.web{
        text-align: center;
        font-family: $primary-font;
        font-size: 3.5em;
        font-weight: lighter;
        padding-top: 2%;
}
.wsection1{
        margin: 5% 15%;
        text-align: center;
        img{
            height: 100%;
            width: 50%;
        }
        p{
            text-align: left;
            line-height: 2;
            font-size: 1.2em;
        }
}

h2{
    text-align: center;
    font-family: $primary-font;
    font-size: 2.5em;
    font-weight: lighter;
}

.wsection2{
    text-align: center;
    margin:10% 8%;
    .blocks{
        h2{
            font-size: 1.9em;
        }
        margin:0 auto;
        padding: 4% 1%;
        //  background: linear-gradient(to bottom right,#0faf001f,#0058101e);
         border: 1px solid $basePrimary-color;
        //box-shadow: 1px 4px 20px 10px rgba(0, 116, 58, 0.2), 0 6px 20px 20px rgba(0, 116, 58, 0.2);
    }
}

.wsection3{
    .row{
        text-align: center;
        margin:5% 15%;
        .cards{
            img{
                height:20%;
                width:40% ;
            }
            margin:0 auto;
            padding: 5%;
        // background: linear-gradient(to bottom right,#0faf001f,#0058101e);
        border: 1px solid $basePrimary-color;

        }
        .cards:hover{
            transition: .2s;
            transform: scale(1.1);
            background: linear-gradient(to bottom right,#0faf0077,#00581059);
            cursor: pointer;
        }
    }
}


.wsection4{
    text-align: center;
    .row{
        margin:10% 8%;
        h2{
            text-align: left;
        }
        p{
            text-align: left;
            line-height: 2;
        }
        img{
            height: 100%;
            width: 50%;
        }
    }
}

@media (max-width: 992px) {

}
@media (max-width: 768px) {


}
@media (max-width: 576px) {
    
.web{
    font-size: 3em;
}
.wsection4{
    .row{
        margin-top: 20%;
        
        .col-xl-6{
            margin:9% auto;
        }

    }
}

.wsection3{

    h2{
        font-size: 1.8em;
        margin: auto 3%;
    }
    .row{
        
        
        .cards{
            margin-top: 10%;
        }
    }
}
}